.kmf {
  // .kmf__education

  &__education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin: 0 0 0.93rem 0;
    padding: 2%;
  }

  // .kmf__title-educ

  &__title-educ {
    text-align: center;
    color: #db2d8f;
    background: linear-gradient(45deg, #db2d8f 33%, #2d1178 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.25rem;
    margin: 9.37rem 0 0.93rem 0;
  }

  // .kmf__card-education

  &__card-education {
    display: flex;
    flex-direction: row;
    gap: 0.93rem;
    width: 67.5rem;
  }
}
.education {
  // .education__card

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.18rem solid rgba(209, 209, 209, 0.2);
    border-radius: 15px;
    -webkit-box-shadow: 15px 15px 20px 0px rgba(209, 209, 209, 0.2);
    -moz-box-shadow: 15px 15px 20px 0px rgba(209, 209, 209, 0.2);
    box-shadow: 15px 15px 20px 0px rgba(209, 209, 209, 0.2);
    margin: 0 0 0.93rem 0;
    padding: 2%;
  }

  // .education__title

  &__title {
    color: #db2d8f;
    background: linear-gradient(45deg, #db2d8f 33%, #2d1178 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 0 0.62rem 0;
  }

  // .education__desc

  &__desc {
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.25rem;
    margin: 0 0 1.87rem 0;
  }

  // .education__btn-more-details-educ

  &__btn-more-details-educ {
    width: 35%;
    color: #9d097c;
    border: 0.06rem solid #9d097c;
    border-radius: 1.87rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.19rem;
    text-align: center;
    padding: 3.5% 1.2%;
    text-decoration: none;
    cursor: pointer;
  }

  &__btn-more-details-educ:hover {
    color: white;
    background-color: #9d097c;
  }
}

@media (max-width: 20.5rem) {
  .kmf {
    // .kmf__title-educ

    &__title-educ {
      text-align: left;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 0 0 0.93rem 0;
    }

    // .kmf__card-education

    &__card-education {
      display: flex;
      flex-direction: row;
      gap: 0.93rem;
      width: 45rem;
    }
  }
  .education {
    // .education__card

    &__card {
      flex-basis: 33.3%;
    }

    // .education__title

    &__title {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.37rem;
      margin: 0 0 0.62rem 0;
    }

    // .education__btn-more-details-educ

    &__btn-more-details-educ {
      width: 100%;
    }
  }
}
